{
  "plugins": [
    "stylelint-prettier",
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "prettier/prettier": true,
    "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
  }
}